{% extends "base.html" %}
{% block head %}
    <style rel="stylesheet">
        body, html {
            width: 100%;
            height: 100%;
        }

        #container {
            margin: auto auto;
            width: 80%;
            height: 60%;
        }
    </style>
{% endblock %}
{% block end %}
    <script>
        $(function () {
            $.get({
                url: '/data1/',
                success: function (data) {
                    Highcharts.chart('container', {
                        title: {
                            text: data["title"]
                        },
                        chart: {
                            type: data["type"]
                        },
                        subtitle: {
                            text: data["text"]
                        },
                        yAxis: {
                            title: {
                                text: data["yAxis_text"]
                            },
{#                            间隔#}
                            tickPixelInterval: 10
                        },
                        xAxis: {
                            title: {
                                text: data["xAxis_text"]
                            },
{#                            tickPixelInterval: 80#}
                            min: 1
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle'
                        },
                        series: data["series"],
                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'bottom'
                                    }
                                }
                            }]
                        }
                    })
                },
                fail: function (error) {
                    alert(error)
                }
            })
        });
    </script>
{% endblock %}